body {
  font-family: "Hiragino Kaku Gothic ProN";
}

header {
  background-color: #24436f;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
}

.header-container {
  width: 1125px;
  margin: 0 auto;
  padding: 12px 0;
  align-items: center;
}

.header-pressrelease-text {
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;
  color: #bfc9d7;
  margin-right: 40px;
  margin-top: 7px;
}

.release-media {
  background-color: #345584;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-right: 10px;
  margin-top: 5px;
}

.header-list {
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  display: inline;
  color: #bfc9d7;
}

.header-choice {
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #bfc9d7;
  display: inline;
  margin-left: 5px;
}

/* グリッドコンテナーの設定 */
.header-small-container {
  display: grid;
  grid-template-rows: 35px 60px;
  grid-template-columns: 150px;
  justify-content: center;
}

.prtimes-img {
  grid-column: 1/1;
  grid-row: 1/2;
  display: grid;
}

.header-pressrelease {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 20px;
}

.list-release-media {
  grid-column: 3/4;
  grid-row: 1/2;
}

.search-form {
  grid-column: 4/5;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.header-choice-category {
  grid-column: 1/4;
  grid-row: 2/3;
}

.search-form_input {
  border-radius: 2px;
  width: 250px;
}

.search-form_input::placeholder {
  position: absolute;
  width: 228px;
  height: 25px;
  left: 15px;
  top: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #bbbbbb;
}

/*--------------------------category-header-----------------------------*/

.pressrelease-category {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.pressrelease-category-name {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 160%;
  /* or 21px */
  display: flex;
  align-items: center;
  color: #294c7a;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #ffffff;
}

/*------------------------------ranking---------------------------------*/
.ranking {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  height: 245px;
}

.ranking-box {
  width: 85%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 1100px;
}

.ranking-img {
  width: 181px;
  height: 100px;
  background-color: #c4c4c4;
  margin-left: 10px;
}

.photo-number-square {
  width: 24px;
  height: 24px;
  background: #294c7a;
  display: flex;
  justify-content: center;
}

.icon {
  display: block;
  margin-top: -25px;
}

.photo-number-text {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
}

.ranking-box-element-title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #3b3b3b;
  margin-left: 10px;
  background-color: #ffffff;
  padding: 0px 10px 5px 10px;
}

.ranking-box-element-info {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #a2a2a2;
  margin-left: 10px;
  background-color: #ffffff;
  padding: 0px 10px 10px 10px;
}

/*-----------main-----------*/
main {
  width: 1080px;
  height: 1000px;
  margin: 0 auto;
  padding: 12px 0;
  align-items: center;
}

.main-container {
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: 35px 80px 575px 100px;
}

.main-title {
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  grid-column: 1;
  grid-row: 1/2;
}

.main-pressrelease-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  grid-column: 1/3;
  grid-row: 2/3;
}

.pressrelease-container-row {
  display: flex;
}

.pressrelease-container-element {
  flex-grow: 1;
  width: 380px;
  height: 118px;
  margin: 5px;
  border-bottom-color: #e4e4e4;
  border-bottom-width: 1px;
}

.pressrelease-container-element-section {
  height: 5%;
  display: grid;
  grid-template-columns: 150px 100px 150px;
  grid-template-rows: 40px 40px 40px;
}

.pressrelease-container-element-text {
  font-family: "Hiragino Kaku Gothic ProN";
  font-style: "W3";
  font-size: 14px;
  color: #3b3b3b;
  margin-top: 10px;
  grid-column: 1/3;
  grid-row: 1/2;
}

.pressrelease-container-element-info {
  flex-basis: 70%;
  font-family: "Hiragino Kaku Gothic ProN";
  font-style: "W3";
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-text-fill-color: "sub_text";
  color: #a2a2a2;
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  margin-bottom: 30px;
}

.pressrelease-icon {
  height: 10px;
}

.pressrelease-container-element-img {
  flex-basis: 30%;
  margin-left: 20px;
  grid-column: 3/4;
  grid-row: 1/3;
}

.main-more-botton {
  position: relative;
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: #3081c9;
  height: 38px;
  width: 110px;
  border-radius: 2px;
  margin: 0 auto;
}

.main-more-botton-text {
  position: absolute;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  width: 100%;
  height: 50%;
  padding-top: 6px;
  color: #ffffff;
}

.main-keyword {
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.main-keyword-menu {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  width: 330px;
  border-bottom-color: #e4e4e4;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  padding: 15px 0;
  row-gap: 5px;
  column-gap: 15px;
}

.main-keyword-menu-element {
  /* margin-right: 15px; */
  margin-top: 3px;
  border-radius: 11px;
  font-size: 12px;
  background-color: #f1f1f1;
  color: #3b3b3b;
  padding: 3px 9px;
}
