header {
  background-color: #24436f;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
}

.header-container {
  width: 1125px;
  margin: 0 auto;
  padding: 12px 0;
  align-items: center;
}

.header-pressrelease-text {
  font-family: "Hiragino Kaku Gothic ProN";
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;
  color: #bfc9d7;
  margin-right: 40px;
  margin-top: 7px;
}

.release-media {
  background-color: #345584;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-right: 10px;
  margin-top: 5px;
}

.header-list {
  font-family: "Hiragino Kaku Gothic ProN";
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  display: inline;
  color: #bfc9d7;
}

.header-choice {
  font-family: "Hiragino Kaku Gothic ProN";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #bfc9d7;
  display: inline;
  margin-left: 5px;
}

/* グリッドコンテナーの設定 */
.header-small-container {
  display: grid;
  grid-template-rows: 35px 60px;
  grid-template-columns: 150px;
  justify-content: center;
}

.prtimes-img {
  grid-column: 1/1;
  grid-row: 1/2;
  display: grid;
}

.header-pressrelease {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 20px;
}

.list-release-media {
  grid-column: 3/4;
  grid-row: 1/2;
}

.search-form {
  grid-column: 4/5;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.header-choice-category {
  grid-column: 1/4;
  grid-row: 2/3;
}

.keyword-form {
  border-radius: 2px;
  width: 250px;
}

.keyword-form::placeholder {
  position: absolute;
  width: 228px;
  height: 25px;
  left: 15px;
  top: 3px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #bbbbbb;
}

/*--------------------------category-header-----------------------------*/

.category-header .pressrelease-category {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.category-header .pressrelease-category .pressrelease-category-name {
  font-family: "Hiragino Kaku Gothic ProN";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 160%;
  /* or 21px */
  display: flex;
  align-items: center;
  color: #294c7a;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #ffffff;
}
